{% extends "base.html" %}
{% load static %}
{% block body %}

    <div class="container">
        <form method="post" enctype="multipart/form-data" novalidate="">
            {% csrf_token %}
            {% if form.errors %}
                {% include "form_errors.html" %}
            {% endif %}
            <h2>Persona</h2>
            <div class="col-sm-5 maincontent">
                <div>
                    {{ form.persona.label }} {{ form.persona }}
                </div>
                <br>
                <div>
                    {{ form.nombre.label }} {{ form.nombre }}
                </div>
                <br>
                <div>
                    {{ form.password.label }} {{ form.password }}
                </div>
                <br>
                <input type="submit" name="submit" value="Grabar" class="btn btn-primary">
            </div>
        </form>
    </div>

{% endblock %}